.env
.env.*
!.env.example

node_modules/
dist/
build/
.cache/

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

target/
*.class
*.jar

bin/
obj/
*.o
*.out
*.exe

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
logs/
*.pid

around_the_world_in_80_days.txt
le_tour_du_monde_en_80_jours.txt